<!DOCTYPE html>

    <html lang="en">

        <head>

            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="stylesheet" href="/styles/landingPage/index.css">
            <link rel="stylesheet" href="/styles/styles.css">

            <title>Home | Project PHP</title>

        </head>

        <body>

            <header class="header--landingPage">

                <nav>

                    <ul>

                        <li><a href="/views/landingPage/index.html">Home</a></li>
                        <li><a href="/views/brands/index.html">Brands</a></li>
                        <li><a href="/views/products/index.html">Products</a></li>
                        <li><a href="/views/users/index.html">Users</a></li>
                        <li><a href="/views/roles/index.html">Roles</a></li>
                        <li class="ul__li--register"><a href="/views/loginRegister/loginRegister.html">Register</a></li>

                    </ul>

                </nav>

                <h1>PROJECT <span>PHP</span></h1>

            </header>

            <main>

                <section>

                    <h2>Features of the Project</h2>

                    <hr>

                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sapien, ad eleifend donec accumsan pretium dignissim porta tincidunt convallis, sodales facilisis ridiculus hac quisque mi vehicula.</p>

                    <ul>

                        <li>Lorem ipsum dolor sit amet consectetur, adipiscing elit hac.</li>
                        <li>Velit interdum ad pulvinar tortor suspendisse, accumsan sodales congue urna.</li>

                    </ul>

                </section>

            </main>

            <footer>

                <section>

                    <h2>Project PHP | &nbsp;<span>Cristian Acevedo</span></h2>
                
                    <p><a href="">Privacy Policy</a></p>

                </section>                

            </footer>
            
        </body>

    </html>